<div class="experience">
    <h1>Experience</h1>
    <hr>
    <ul class="timeline timeline-centered">
        {% for e in experiences %}
        <li class="timeline-item">
            <div class="timeline-info">
                <img class="teaching-icon" src="{{ imgDir }}{{ e.image.name }}"
                    width="{{ e.image.widthPx }}px"
                    height="{{ e.image.heightPx }}px"/>
            </div>
            <div class="timeline-marker"></div>
            <div class="timeline-content">
                <h4 class="timeline-title">{{ e.employer }}</h4>
                <i class="timeline-subtitle">{{ e.title }} - {{ e.timeline}}</i>
                {% unless !e.description %} <p>{{ e.description }}</p> {% endunless %}
                <ul>
                    {% for d in e.details %}
                    <li>{{ d }}</li>
                    {% endfor %}
                </ul>
            </div>
        </li>
        {% endfor %}
    </ul>
</div>